# Environments
.env
config.yaml
venv/
.pytest_cache/
.coverage

# Python
__pycache__/
*.pyc
*.egg-info/

# Local deployment artifacts
dist/

# Logs
*.log

# Testing coverage
coverage.xml

# Editor/Agent
.gemini/
